/* Import google font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Boxes */
.mainBox {
  width: 30rem;
  height: 45rem;
  border: solid black 0.1rem;
  border-radius: 1.25rem;
  justify-content: center;
  position: relative;
  display: flex;
  background-color: rgba(216, 199, 0, 255);
}

.gameBox {
  width: 15rem;
  height: 28rem;
  border: solid black 0.1rem;
  border-radius: 0.75rem;
  position: absolute;
  top: 4rem;
  left: 7rem;
  justify-content: center;
  background-color: rgba(39, 55, 69, 255);
}

.featuresBox {
  width: 25rem;
  height: 10rem;
  position: absolute;
  top: 33rem;
  /* border: solid black 0.1rem; */
}

.controlKeyboard {
  width: 8rem;
  height: 8rem;
  /* border: solid black 0.1rem; */
  position: relative;
  top: 0rem;
}

/* Title */
.header {
  text-align: center;
  margin-top: 1rem;
  font-size: large;
  color: rgba(43, 110, 161, 255);
  font-style: italic;
  font-weight: 1000;
  font-size: 1.75rem;
}

/* Features*/
/* Score */
.scoreDisplay {
  position: absolute;
  top: 0.5rem;
  right: 0%;
  color: rgba(43, 110, 161, 255);
  font-weight: 1000;
  font-size: 1.05rem;
}

.score {
  position: absolute;
  top: 1.75rem;
  right: 2%;
  font-size: 3.5rem;
  font-family: "DotGothic16", sans-serif;
  letter-spacing: 0.5rem;
}

/* Control button */
.top {
  width: 3rem;
  height: 3rem;
  border: solid black 0.1rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(39, 55, 69, 255);
}

.top-btn {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 20%;
  left: 25%;
  rotate: 270deg;
  fill: rgba(67, 110, 142, 255);
}

.bottom {
  width: 3rem;
  height: 3rem;
  border: solid black 0.1rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
  background-color: rgba(39, 55, 69, 255);
}

.bottom-btn {
  position: absolute;
  top: 20%;
  left: 25%;
  rotate: 90deg;
  fill: rgba(67, 110, 142, 255);
}

.left {
  width: 3rem;
  height: 3rem;
  border: solid black 0.1rem;
  border-radius: 50%;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(39, 55, 69, 255);
}

.left-btn {
  position: absolute;
  top: 20%;
  left: 21%;
  rotate: 180deg;
  fill: rgba(67, 110, 142, 255);
}

.right {
  width: 3rem;
  height: 3rem;
  border: solid black 0.1rem;
  border-radius: 50%;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(39, 55, 69, 255);
}

.right-btn {
  position: absolute;
  top: 20%;
  left: 23%;
  rotate: 360deg;
  fill: rgba(67, 110, 142, 255);
}

/** Menu **/
.menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 70%;
}

.txt-menu {
  text-align: center;
  color: rgba(43, 110, 161, 255);
  font-weight: 1000;
  font-size: 1.05rem;
  margin-top: 0.75rem;
  cursor: pointer;
}
