/* Import google font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Boxes */
.mainBox {
  width: 30rem;
  height: 45rem;
  border: solid black 0.1rem;
  border-radius: 1.25rem;
  justify-content: center;
  position: relative;
  display: flex;
  background-color: rgb(218, 237, 41);
}

.gameBox {
  width: 15rem;
  height: 28rem;
  border: solid black 0.1rem;
  border-radius: 0.75rem;
  position: absolute;
  top: 4rem;
  left: 7rem;
  justify-content: center;
}

.featuresBox {
  width: 25rem;
  height: 10rem;
  position: absolute;
  top: 33rem;
  /* border: solid black 0.1rem; */
}

.controlKeyboard {
  width: 8rem;
  height: 8rem;
  /* border: solid black 0.1rem; */
  position: relative;
  top: 0rem;
}

/* Title */
.header {
  text-align: center;
  margin-top: 1.5rem;
  font-size: large;
}

/* Features*/
.scoreDisplay {
  position: absolute;
  top: 0.5rem;
  right: 0%;
}

.top {
  width: 3rem;
  height: 3rem;
  border: solid black 0.1rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.bottom {
  width: 3rem;
  height: 3rem;
  border: solid black 0.1rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
}

.left {
  width: 3rem;
  height: 3rem;
  border: solid black 0.1rem;
  border-radius: 50%;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
}

.right {
  width: 3rem;
  height: 3rem;
  border: solid black 0.1rem;
  border-radius: 50%;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
}
